.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(230, 70%, 70%);
}
.sign-in-container {
  min-width: 325px;
  margin-top: 10vh;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px black solid;
  padding: 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 5px 10px;
}

.sign-in-container button {
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.55rem 0.75rem;
  border: none;
}
.sign-in-container button:hover {
  background-color: hsl(0, 0%, 80%);
}
.sign-in-container h1 {
}
